.confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
  }
  
  .confirm-image {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .confirm-container button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }