.color-box-force {
  width: 16px !important;
  height: 16px !important;
  border-radius: 4px !important;
  margin-right: 8px !important;
  display: inline-block !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  background-color: var(--box-color) !important;
}

.dark-mode .color-box-force {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  background-color: var(--box-color) !important;
}